@import url('https://fonts.googleapis.com/css2?family=Huninn&display=swap');

body {
  font-family: "Huninn", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.el-image {
  overflow: initial;
}

.el-button.is-disabled {
  opacity: 0.2;
}


.el-dialog {
  border: var(--el-border);
}

.el-card {
  --el-card-padding: 12px;
  height: 100%;
}

.el-table {
  .cell {
    line-height: 1;
  }

  td + td .cell {
    padding-left: 0;
  }
}

.el-tag--small {
  height: 22px;
  padding: 0 4px;
}

.cursor {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.select-container {
  width: 100%;
  min-height: 30px;

  .select-item {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    min-height: 30px;
  }

  .select-placeholder {
    display: flex;
    align-items: center;
    color: var(--el-text-color-placeholder);
    width: 100%;
    height: 30px;
  }
}

